Source: mountmond
Maintainer: Max Taylor <taylor.2751@osu.edu>
Section: misc
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper (>= 9)

Package: mountmond
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: monitors mounts 
 mountmond monitors your mounts.
